

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header div{
    display: flex;
    margin: 0px 10px 0px 10px;
}

.header nav{
    display: flex;
}


.header div input{
    display: inline-block;
}

.header img{
    display: flex;
    margin: 0px 10px 0px 10px;
    width: 80px;
    height: 80px;
}

.header div img{
    display: flex;
    width: 40px;
    height: 40px;
}
/* nav bar  */
/* need to center  */
.header nav{
    display: flex;
    justify-self:center;
}
/* nav bar text */
.header nav a{
    text-decoration: none;
    margin: 0 20px 0 20px;
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}



